html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
header {
  background-color: #222;
  height: 15rem;
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
}
img {
  margin: auto;
  max-height: 75%;
}
h1, h2 {
  font-weight: normal;
  text-align: center;
}
h1 {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}
h2 {
  font-size: 1.25rem;
  padding: 1.25rem 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
}
body::before {
  display: block;
  content: "Open Your Console";
  background: #000;
  color: #FFF;
  position: fixed;
  transform: rotate(45deg) translate(60px, 0px);
  right: 0;
  top: 0;
  height: 2rem;
  padding: 5px 30px;
  line-height: 25px;
  font-family: Calibri, Helvetica, Arial;
  font-weight: bold;
  text-align: center;
}
main, nav {
  display: flex;
  flex-direction: column;
}
main {
  padding: 1rem;
}
h3 {
  text-align: center;
}
button,
label {
  margin: 0.5rem 1rem;
  height: 3rem;
  font-size: calc(3rem/2);
  background: linear-gradient(rgb(216, 216, 216), rgb(186, 186, 186));
  border-color: rgb(117, 117, 117) rgb(107, 107, 107) rgb(97, 97, 97);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  align-items: flex-start;
}
body:not(.connected) * {
  opacity: 0.85;
  pointer-events: none;
  cursor: not-allowed;
  color: graytext;
}