html,
body {
  background: #eff3f4;
  font-family: "Open Sans", serif;
}

.hidden {
  display: none;
}

#ask-reset-password,
#reset-password,
#home,
#login,
#signup {
  display: none;
}

.home-active #home {
  display: block;
}
.login-active #login {
  display: block;
}
.signup-active #signup {
  display: block;
}
.reset-password-active #reset-password {
  display: block;
}

.ask-reset-password-active #ask-reset-password {
  display: block;
}

.confirm-reset-password-active #confirm-reset-password {
  display: block;
}

.message {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 300px;
  height: 250px;
}

.hero.is-success {
  background: #f2f6fa;
}
.hero.is-fullheight {
  min-height: calc(100vh - 3.5rem);
}
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}
